# Django settings
SECRET_KEY=2&!u3g^8hxu0pn@bm04111r&4i=tnny+wwx7-_ad%&5eow=5ov
DEBUG=False
ALLOWED_HOSTS=your-domain.com,www.your-domain.com

# SSL Certificate
EMAIL=your-email@example.com
DOMAIN=your-domain.com

# Database (SQLite by default)
# DB_NAME=landing_db
# DB_USER=postgres
# DB_PASSWORD=your-password
# DB_HOST=db
# DB_PORT=5432
